.delete {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.724);
    display: flex;
    align-items: center;
    justify-content: center;
  
    .modal {
      padding: 5vh;
      border-radius: 10px;
      background-color: rgb(255, 255, 255);
      position: relative;
  
      .close {
        position: absolute;
        top: 10px;
        font-weight: bold;
        right: 10px;
        cursor: pointer;
      }
  
      .forms {
          display: flex;
          flex-direction: column;
          width: 45vh;
          justify-content: center;
          padding: 20px;
          align-items: center;

        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 25px;
            width: 91%;


            .no-button {
                height: 5vh;
                width: 20%;
                border: none;
                border-radius: 5px;
                padding: 1vh;
                background-color: rgb(128, 0, 0);
                color: white;
                cursor: pointer;
            }
  
            .yes-button {
              height: 5vh;
              width: 20%;
              border: none;
              border-radius: 5px;
              padding: 1vh;
              background-color: rgb(86, 163, 22);
              color: white;
              cursor: pointer;
          }

        }
  
      }
    }
  }