.navbar {
    height: 70px;
    border-bottom: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 17px;
  
    .wrapper {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .search {
            background-color: white;
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            padding: 4.4px;
            border-radius: 5px;
    
            input {
                border: none;
                outline: none;
                background: transparent;
    
            &::placeholder {
                font-size: 12px;
            }
            }
        }
  
        .items {
            display: flex;
            align-items: center;
            
  
            .item {
                
                display: flex;
                align-items: center;
                margin-right: 20px;
                position: relative;
  
            .button {
                background-color: #0F71F2;
                display: flex;
                align-items: center;
                border: 0.5px solid #0F71F2;
                border-radius: 5px;
                padding: 3px;
                font-size: 15px;
                cursor: pointer;

                .title {
                    margin: 0px 10px;
                    color: white;
                }
            }}
        }
    }
  }